*{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#grid-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a-header        a-header        a-header"
    "a-destacado     a-destacado     a-aside"
    "a-main          a-main          a-aside"
    "a-footer        a-footer        a-footer";
}

body{
    margin: 0;
    padding: 0;
}

header{
    grid-area: a-header;
    padding-top: 30px;
    background-color: gainsboro;
    margin-left: 20px;
}

header div h1{
    text-align: left;
    width: 20%;
}

header div ul li{
    display: inline-block;
    font-size: 20px;
    width: 10%;
}

section{
    grid-area: a-destacado;
}

aside{
    grid-area: a-aside;
}

main{
    grid-area: a-main;
}

footer{
    grid-area: a-footer;
}